<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card">
        <div class="card-header text-center text-primary">
          <h3>Tong mang hai chieu trong mot cot.</h3>
        </div>
        <div class="card-body">
          <input type="number" class="form-control" [(ngModel)]="a">
          <input type="number" class="form-control" [(ngModel)]="b">
          <button type="button" (click)="ngauNhien(a, b)">Ngau nhien</button>
          <p>Mang ngau nhien:
            @for (item of Array; track $index) {
              <ul>
                <li>{{item}}</li>
              </ul>
            }
          </p>
        </div>
        <div class="card-footer text-muted">
          <p>Tong cua mang la:
            {{sumArray(a, b)}}
          </p>

        </div>
      </div>
    </div>
  </div>
</div>