<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card">
        <div class="card-header text-center text-primary">
          <h3>Xuat mang hai chieu ngau nhien.</h3>
        </div>
        <div class="card-body">
          <input type="number" class="form-control" [(ngModel)]="a">
          <input type="number" class="form-control" [(ngModel)]="b">
          <button type="button" (click)="ngauNhien(a, b)">Ngau nhien</button>
        </div>
        <div class="card-footer text-muted">
          <p>Mang ngau nhien:
          @for (item of Array; track $index) {
            <ul>
              <li>{{item}}</li>
            </ul>
          }
        </p>
        </div>
      </div>
    </div>
  </div>
</div>